<section class="prestations">
    <h1>HOMMES</h1>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">SOIN ENERGISANT</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                45 min - 40€
            </div>
        </mat-card-title>
        <mat-card-content></mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">SOIN NETTOYANT</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                45 min - 40€
            </div>
        </mat-card-title>
        <mat-card-content></mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">MANUCURE</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                20 min - 15€
            </div>
        </mat-card-title>
        <mat-card-content></mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
</section>