<section class="prestations">

    <h1>ÉPILATION POUR LUI</h1>

    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">SOURCILS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">JOUES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    5 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">JAMBES COMPLÈTES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 25€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">AISSELLES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    10 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">BRAS COMPLETS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    25 min - 20€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DOS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 20€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">TORSE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 20€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">TORSE + VENTRE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 30€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">NARINES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    5 min - 5€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

    </div>

</section>