<section class="prestations">

    <h1>LUMIÈRE PULSÉE - POUR ELLE</h1>
    
    <div>
        Traitement pour l'épilation définitive<br>
        Cures : nous consulter<br>
        <ul><li>Remise de 10% pour l'achat d'une cure de 1 zone, minimum 6 séances</li>
        <li>Remise de 15% pour l'achat d'une cure de 2 zones, minimum 6 séances</li>
        <li>Remise de 20% pour l'achat d'une cure de 3 zones, minimum 6 séances</li>
        <li>Remise de 25% pour l'achat d'une cure de 4 zones, minimum 6 séances</li></ul>
    </div>

    <div class="prestation-actions">
        <button mat-button (click)="bookService.openPlanity()" class="book-online">Réserver en ligne</button>

        <button mat-button class="gift-card">
            <a href="https://secure.payplug.com/p/jvfBAhn" target="_blank">Offrir un bon cadeau</a>
        </button>
    </div>

    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">AISSELLES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 70€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DEMI-BRAS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 110€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">BRAS COMPLETS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 160€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DEMI-JAMBES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    35 min - 170€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">JAMBES COMPLÈTES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    45 min - 230€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DOS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 230€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">ESPACE INTER-SOURCILIER</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    10 min - 30€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">LIGNE ABDOMINALE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 40€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">TORSE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 70€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAILLOT 1/2 INTÉGRAL</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    25 min - 100€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAILLOT ÉCHANCRÉ</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 90€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAILLOT INTÉGRAL</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 150€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">FESSES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 90€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">SILLON INTER-FESSIER</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    10 min - 50€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">FESSES + SILLON INTER-FESSIER</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    25 min - 120€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">LÈVRE SUPÉRIEURE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 45€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MENTON</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 55€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

    </div>

</section>

<section class="prestations">

    <h1>LUMIÈRE PULSÉE - POUR LUI</h1>

    <div>
        Traitement pour l'épilation définitive<br>
        Cures : nous consulter
        <ul><li>Remise de 10% pour l'achat d'une cure de 1 zone, minimum 6 séances</li>
        <li>Remise de 15% pour l'achat d'une cure de 2 zones, minimum 6 séances</li>
        <li>Remise de 20% pour l'achat d'une cure de 3 zones, minimum 6 séances</li>
        <li>Remise de 25% pour l'achat d'une cure de 4 zones, minimum 6 séances</li></ul>
    </div>

    <div class="prestation-actions">
        <button mat-button (click)="bookService.openPlanity()" class="book-online">Réserver en ligne</button>

        <button mat-button class="gift-card">
            <a href="https://secure.payplug.com/p/jvfBAhn" target="_blank">Offrir un bon cadeau</a>
        </button>
    </div>

    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">AISSELLES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 80€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">BARBE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 40€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DEMI-JAMBES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 190€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">JAMBES COMPLÈTES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    40 min - 260€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">NUQUE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 80€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">HAUT DU DOS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 120€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">BAS DU DOS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 140€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DOS COMPLET</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    35 min - 230€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">TORSE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 140€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">OREILLES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 70€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
       
        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">ÉPAULES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 70€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAINS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 40€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

    </div>

</section>