<section class="prestations">

    <h1>PIERCING</h1>

    <div class="prestation-actions">
        <button mat-button (click)="bookService.openPlanity()" class="book-online">Réserver en ligne</button>

        <button mat-button class="gift-card">
            <a href="https://secure.payplug.com/p/jvfBAhn" target="_blank">Offrir un bon cadeau</a>
        </button>
    </div>

    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing lobe d'oreille (1 seul)</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 21€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing lobes d'oreilles (les 2)</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 34€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing tragus</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 49€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
        
        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing lobe d'oreille enfant (1 seul)</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 15€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing lobes d'oreilles enfant (les 2)</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 28€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing cartillage d'oreille</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 49€
                </div>
            </mat-card-title>
            <mat-card-content>Helix, anti-hélix, conch, rook, daith</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing industriel</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 58€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing arcade</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 42€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing bridge</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 49€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing nez (nostril)</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 35€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing septum</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 52€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing langue</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 52€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing mouche</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 42€
                </div>
            </mat-card-title>
            <mat-card-content>(Madonna, Monroe)</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing labret</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 42€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing téton (1 seul)</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 52€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing tétons (les 2)</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 85€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">Piercing nombril</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 49€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

    </div>

</section>