<section class="prestations">

    <h1>ÉVÈNEMENTIEL</h1>

    <div class="prestation-actions">
        <button mat-button (click)="bookService.openPlanity()" class="book-online">Réserver en ligne</button>

        <button mat-button class="gift-card">
            <a href="https://secure.payplug.com/p/jvfBAhn" target="_blank">Offrir un bon cadeau</a>
        </button>
    </div>

    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">HAPPY HOUR</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h15 - 35€/pers
                </div>
            </mat-card-title>
            <mat-card-subtitle>3 pers. min. - 6 pers. max.</mat-card-subtitle>
            <mat-card-content>
                Coaching maquillage entre collègues ou entre amies<br />
                <i class="fas fa-gift"></i> Une coupe de champagne/planchette apéro offerte
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">BELLES POUR LE GRAND JOUR</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h30 - 30€/pers
                </div>
            </mat-card-title>
            <mat-card-subtitle>3 pers. min. - 6 pers. max.</mat-card-subtitle>
            <mat-card-content>
                Coaching maquillage entre copines à l'occasion de l'enterrement de vie de jeune fille de la Mariée<br />
                <i class="fas fa-gift"></i> Une coupe de champagne offerte/maquillage mariée offert le jour j (à partir de 5 inscriptions)<br />
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAQUILLAGE MARIÉE + ESSAI OFFERT <i class="fas fa-gift"></i></div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    50 min - 45€
                </div>
            </mat-card-title>
            <mat-card-content>Maquillage avec pose de vernis</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAQUILLAGE JOUR</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    25 min - 19€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">FORFAIT MARIÉE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    2h - 70€
                </div>
            </mat-card-title>
            <mat-card-content>Maquillage + essai offert + épilation sourcils + pose de vernis semi-permanent mains
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAQUILLAGE SOIRÉE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 24€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">COACHING MAQUILLAGE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    50 min - 50€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

    </div>
    
</section>