<section class="prestations">

    <h1>SOINS DES MAINS ET DES PIEDS</h1>
    
    <div class="prestation-actions">
        <button mat-button (click)="bookService.openPlanity()" class="book-online">Réserver en ligne</button>

        <button mat-button class="gift-card">
            <a href="https://secure.payplug.com/p/jvfBAhn" target="_blank">Offrir un bon cadeau</a>
        </button>
    </div>

    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">POSE ONGLES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h - 55€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Capsules, gel et couleur</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">POSE ONGLES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h15 min - 60€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Chablon</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">GAINAGE GEL</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    45 min - 42€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Mains ou pieds, sur ongles naturels</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">ENTRETIEN</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    45 min - 37€
                </div>
            </mat-card-title>
            <mat-card-content>Remplissage + vernis ou french</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">ENTRETIEN : 6 RDV</div>
                <div class="infos">
                    190€
                </div>
            </mat-card-title>
            <mat-card-content>Remplissage + vernis ou french</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DÉPOSE ONGLES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 20€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Résine ou gel</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">RÉPARATION ONGLE CASSÉ</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    5 min - 3,50€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">RÉPARATION ONGLE CASSÉ</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    5 min - 6€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Pose provenant d'un autre salon</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">POSE DE VERNIS SEMI-PERMANENT MAINS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    25 min - 23€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Soin des ongles express inclus : 30€</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">FORFAIT DÉPOSE ET POSE DE VERNIS SEMI-PERMANENT MAINS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 30€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">POSE DE VERNIS SEMI-PERMANENT PIEDS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    25 min - 25€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Soin des ongles express inclus : 32€</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
        
        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">FORFAIT DÉPOSE ET POSE DE VERNIS SEMI-PERMANENT PIEDS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 32€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">FORFAIT DÉPOSE DE VERNIS SEMI-PERMANENT ET SOIN DES ONGLES EXPRESS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 20€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">POSE DE VERNIS SEMI-PERMANENT</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 25€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Supplément french</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">NAIL ART</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    5 min - 1€ à 2,50€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Un ongle</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">NAIL ART</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 20€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Mains entières</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">SUPPLÉMENT BABYBOOMER</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 15€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">COURS DE NAIL ART</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h - 30€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>3 pers. min.</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DÉPOSE DE VERNIS SIMPLE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    5 min - 2€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DÉPOSE EXPRESS DE VERNIS SEMI-PERMANENT</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    5 min - 10€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Mains ou pieds</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DÉPOSE PAPILLOTE DE VERNIS SEMI-PERMANENT</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 10€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">BEAUTÉ DES PIEDS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    40 min - 35€
                </div>
            </mat-card-title>
            <mat-card-content>Soin pédispa</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">SOIN CALLUSPEELING MAVEX</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 40€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Seul</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
        
        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">SOIN CALLUSPEELING MAVEX</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 35€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Au cours d'un soin</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">SOIN DES ONGLES EXPRESS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 15€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">BEAUTÉ DES MAINS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 25€
                </div>
            </mat-card-title>
            <mat-card-content>Soin brésilien</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">SOIN À LA PARAFFINE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 10€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Mains</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">SOIN À LA PARAFFINE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 15€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Pieds</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

    </div>

</section>