<section class="prestations">
    <h1>SOINS DES MAINS ET DES PIEDS</h1>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">POSE ONGLES</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                60 min - 50€
            </div>
        </mat-card-title>
        <mat-card-content>Chablon ou capsules</mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">ONGLE CASSE</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                5 min - 3,50€
            </div>
        </mat-card-title>
        <mat-card-content></mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">ENTRETIEN</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                40 min - 35€
            </div>
        </mat-card-title>
        <mat-card-content>Remplissage + vernis ou french</mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">DEPOSE</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                15 min - 20€
            </div>
        </mat-card-title>
        <mat-card-content>Ongles résine ou gel</mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">BEAUTE DES PIEDS</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                40 min - 35€
            </div>
        </mat-card-title>
        <mat-card-content>Soin pédispa</mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">BEAUTE DES MAINS</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                30 min - 20€
            </div>
        </mat-card-title>
        <mat-card-content>Soin brésilien</mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">POSE DE VERNIS AU COURS D'UN SOIN</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                10 min - 7€
            </div>
        </mat-card-title>
        <mat-card-content></mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">ENTRETIEN</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                40 min - 35€
            </div>
        </mat-card-title>
        <mat-card-content>Remplissage + vernis ou french</mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">NAIL ART/STAMPING</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                15-20 min - 2,50€/ongle - 20€ mains entières
            </div>
        </mat-card-title>
        <mat-card-content>Remplissage + vernis ou french</mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">COURS DE NAIL ART</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                60 min - 30€/pers.
            </div>
        </mat-card-title>
        <mat-card-subtitle>Sur rendez-vous, 3 pers. min.</mat-card-subtitle>
        <mat-card-content></mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
</section>