<section class="prestations">

    <h1>SOINS DU VISAGE</h1>

    <div class="prestation-actions">
        <button mat-button (click)="bookService.openPlanity()" class="book-online">Réserver en ligne</button>

        <button mat-button class="gift-card">
            <a href="https://secure.payplug.com/p/jvfBAhn" target="_blank">Offrir un bon cadeau</a>
        </button>
    </div>

    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">SOIF</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h - 60€
                </div>
            </mat-card-title>
            <mat-card-content>Hydratation intense aux extraits de myrtilles</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">LIFT JEUNESSE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h - 60€
                </div>
            </mat-card-title>
            <mat-card-content>Soin anti-âge</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DOUCEUR ABSOLUE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h - 60€
                </div>
            </mat-card-title>
            <mat-card-content>Soin peaux sensibles</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">ÉCLAT</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h - 60€
                </div>
            </mat-card-title>
            <mat-card-content>Soin peaux fatiguées à la vitamine C</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">PURETÉ</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h - 60€
                </div>
            </mat-card-title>
            <mat-card-content>Soin à l'argile</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">NUTRITION</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h - 60€
                </div>
            </mat-card-title>
            <mat-card-content>Soin nourissant pour les peaux sèches à très sèches</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">SIGNATURE ANNA'BELLE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h - 69€
                </div>
            </mat-card-title>
            <mat-card-content>Soin anti-âge et hydratation aux feuilles de collagène</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MASSAGE FACIAL JAPONAIS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h - 69€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">EXTRACTION DES COMÉDONS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 30€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">EXTRACTION DES COMÉDONS AU COURS D'UN SOIN</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    10 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAQUILLAGE FLASH APRÈS UN SOIN</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    10 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

    </div>

</section>