<section class="prestations">

    <h1>SOINS DU CORPS</h1>

    <button mat-button (click)="bookService.openPlanity()" class="book-online">Réserver en ligne</button>

    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">NO STRESS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 30€
                </div>
            </mat-card-title>
            <mat-card-content>Modelage délassant du dos</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">RELAX' MAX</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h - 60€
                </div>
            </mat-card-title>
            <mat-card-content>Gommage et modelage du corps</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">COMBI</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h30 - 80€
                </div>
            </mat-card-title>
            <mat-card-content>Soin visage et modelage corps</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">LA TOTALE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h50 - 90€
                </div>
            </mat-card-title>
            <mat-card-content>Soin visage, modelage corps et soin brésilien mains</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">SOIN JAMBES LÉGÈRES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    35 min - 30€
                </div>
            </mat-card-title>
            <mat-card-subtitle>Cryothérapie</mat-card-subtitle>
            <mat-card-content>Redynamise la fonction circulatoire de vos jambes grace à l'algo-cryothérapie.
                Il soulage les jambes fatiguées et dissipe les sensations d’inconfort.</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">SOIN JAMBES LÉGÈRES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    35 min - 40€
                </div>
            </mat-card-title>
            <mat-card-subtitle>Pressothérapie</mat-card-subtitle>

            <mat-card-content>Redynamise la fonction circulatoire de vos jambes grace à la pressothérapie.
                Il soulage les jambes fatiguées et dissipe les sensations d’inconfort.</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">GOMMAGE CORPS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 15€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MASSAGE DE RÉFLEXOLOGIE PLANTAIRE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    40 min - 45€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

    </div>

</section>