<section class="prestations">
    <h1>SOINS DU CORPS</h1>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">NO STRESS</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                30 min - 30€
            </div>
        </mat-card-title>
        <mat-card-content>Soin délassant du dos</mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">RELAX' MAX</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                50 min - 45€
            </div>
        </mat-card-title>
        <mat-card-content>Modelage et soin du corps</mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">COMBI</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                75 min - 60€
            </div>
        </mat-card-title>
        <mat-card-content>Soin visage et corps</mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">LA TOTALE</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                90 min - 80€
            </div>
        </mat-card-title>
        <mat-card-content>Soin visage, corps et mains</mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="prestation">
        <mat-card-title>
            <div class="name">GOMMAGE CORPS</div>
            <div class="infos">
                <i class="far fa-clock"></i>
                15 min - 15€
            </div>
        </mat-card-title>
        <mat-card-content></mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Réserver</button>
        </mat-card-actions>
    </mat-card>
</section>