<form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <p class="h4 mb-4">Nous contacter</p>

  <input type="text" formControlName="contactFormFirstName" id="contactFormFirstName" mdbInput class="form-control mb-4"
    placeholder="Prénom">

  <input type="text" formControlName="contactFormLastName" id="contactFormLastName" mdbInput class="form-control mb-4"
    placeholder="Nom">

  <input type="email" formControlName="contactFormEmail" id="contactFormEmail" mdbInput class="form-control mb-4"
    placeholder="E-mail">

  <div class="form-group">
    <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="formControlMessage"
      rows="3" placeholder="Message"></textarea>
  </div>

  <div class="form-check">
    <input class="form-check-input" formControlName="contactFormBeRecalled" mdbInputDirective type="checkbox"
      id="formControlBeRecalled" (click)="beRecalled()">
    <label class="form-check-label" for="checkbox">Je souhaite être rappelé(e)</label>
  </div>

  <input type="text" formControlName="contactFormPhoneNumber" id="contactFormPhoneNumber" mdbInput class="form-control mb-4"
    placeholder="Téléphone">

  <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
    type="submit" [disabled]="disabledSubmitButton">Send</button>

</form>