<section class="prestations">

    <h1>EPILATION</h1>

    <h2>A la cire bio</h2>

    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">LEVRE SUPERIEURE OU MENTON</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    10 min - 7€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">NARINES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 5€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">VISAGE COMPLET</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    25 min - 20€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">CREATION LIGNE DE SOURCILS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">ENTRETIEN SOURCILS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    10 min - 7€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">AISSELLES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DEMI-JAMBES/BRAS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">BRAS COMPLET</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 15€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">JAMBES COMPLETES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 15€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAILLOT 1/2 INTEGRAL</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 15€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAILLOT SIMPLE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    5 min - 7€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAILLOT ECHANCRE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    10 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAILLOT INTEGRAL</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    25 min - 20€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">FESSES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    10 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">INTER-FESSIERS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    5 min - 7€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DOS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

    </div>

</section>