<section class="prestations">

    <h1>ÉPILATION</h1>

    <div class="prestation-actions">
        <button mat-button (click)="bookService.openPlanity()" class="book-online">Réserver en ligne</button>

        <button mat-button class="gift-card">
            <a href="https://secure.payplug.com/p/jvfBAhn" target="_blank">Offrir un bon cadeau</a>
        </button>
    </div>

    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">LÈVRE SUPÉRIEURE OU MENTON</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    10 min - 7€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">NARINES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 5€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">VISAGE COMPLET</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    25 min - 20€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">CRÉATION LIGNE DE SOURCILS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">ENTRETIEN SOURCILS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    10 min - 7€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
        
        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">AISSELLES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DEMI-JAMBES/BRAS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 15€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">BRAS COMPLET</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 15€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">JAMBES COMPLÈTES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 20€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAILLOT 1/2 INTÉGRAL</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 20€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAILLOT SIMPLE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    5 min - 12€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAILLOT ÉCHANCRÉ</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    10 min - 15€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAILLOT INTÉGRAL</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    25 min - 24€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">FESSES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    10 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">INTER-FESSIERS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    5 min - 7€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">DOS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">ENTRETIEN SOURCILS + LÈVRES : 10 RDV + 2 OFFERTS <i class="fas fa-gift"></i></div>
                <div class="infos">
                    128€
                </div>
            </mat-card-title>
            <mat-card-content>Valable 1 an</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">AISSELLES + DEMI-JAMBES : 10 RDV + 2 OFFERTS <i class="fas fa-gift"></i></div>
                <div class="infos">
                    190€
                </div>
            </mat-card-title>
            <mat-card-content>Valable 1 an</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAILLOT INTÉGRAL + JAMBES COMPLÈTES : 10 RDV + 2 OFFERTS <i class="fas fa-gift"></i></div>
                <div class="infos">
                    390€
                </div>
            </mat-card-title>
            <mat-card-content>Valable 1 an</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">FORFAIT ANNUEL ÉPILATIONS : 12 RDV</div>
                <div class="infos">
                    500€
                </div>
            </mat-card-title>
            <mat-card-content>Paiement en 3 fois possible</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

    </div>

</section>