<section class="prestations">

    <h1>BEAUTÉ DU REGARD</h1>

    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">TEINTURE DE SOURCILS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    15 min - 10€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">TEINTURE CILS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    20 min - 15€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">REHAUSSEMENT DE CILS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    40 min - 40€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">FORFAIT</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h05 - 50€
                </div>
            </mat-card-title>
            <mat-card-content>Teinture de cils + réhaussement</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">BROWLIFT</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 45€
                </div>
            </mat-card-title>
            <mat-card-content>Réhaussement sourcils</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">BROWLIFT AVEC ÉPILATION</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 49€
                </div>
            </mat-card-title>
            <mat-card-content>Réhaussement sourcils + épilation</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

    </div>

    <h1 style="margin-top: 1em;">EXTENSION DE CILS</h1>

    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">EFFET NATUREL</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h30 - 90€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">EFFET MIXTE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h45 - 110€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">OEIL DE BICHE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h - 60€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
    
        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">REMPLISSAGE 2 SEMAINES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30min - 25€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">REMPLISSAGE 4 SEMAINES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    45min - 25€
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">REMPLISSAGE AU DELA DE 4 SEMAINES</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    1h30
                </div>
            </mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
    
    </div>

</section>