<section class="prestations">

  <h1>MÉSOTHÉRAPIE</h1>

  <div class="prestation-actions">
    <button mat-button (click)="bookService.openPlanity()" class="book-online">Réserver en ligne</button>

    <button mat-button class="gift-card">
        <a href="https://secure.payplug.com/p/jvfBAhn" target="_blank">Offrir un bon cadeau</a>
    </button>
</div>

  <div class="prestations">

    <mat-card class="prestation">
      <mat-card-title>
        <div class="name">SKINSHOOTER VISAGE & COU</div>
        <div class="infos">
          <i class="far fa-clock"></i>
          1h - 72€
        </div>
      </mat-card-title>
      <mat-card-content>Traitement des rides sans injections. Résultats visibles des la 1ère séance. Raffermit la peau, élimine les taches et la couperose</mat-card-content>
      <mat-card-actions align="end">
      </mat-card-actions>
    </mat-card>

    <mat-card class="prestation">
      <mat-card-title>
        <div class="name">SKINSHOOTER YEUX</div>
        <div class="infos">
          <i class="far fa-clock"></i>
          30 min - 35€
        </div>
      </mat-card-title>
      <mat-card-content>Diminue les rides et les poches sous les yeux</mat-card-content>
      <mat-card-actions align="end">
      </mat-card-actions>
    </mat-card>

  </div>

</section>