<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
</head>

<body>
  <div class="page">

    <mat-toolbar>
      <mat-toolbar-row>

        <div class="menu">
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item [routerLink]="['/home']">Accueil</button>
            <button mat-menu-item [matMenuTriggerFor]="prestations">Prestations</button>
            <button mat-menu-item [routerLink]="['/infos']">Horaires & plan d'accès</button>
            <button mat-menu-item [routerLink]="['/contact']">Contact</button>
          </mat-menu>

          <mat-menu #prestations="matMenu">
            <button mat-menu-item [routerLink]="['/body-care']">Soins du corps</button>
            <button mat-menu-item [routerLink]="['/face-care']">Soins du visage</button>
            <button mat-menu-item [routerLink]="['/hands-foots-care']">Soins des mains et pieds</button>
            <button mat-menu-item [routerLink]="['/waxing']">Epilation</button>
            <button mat-menu-item [routerLink]="['/mesotherapy']">Mésothérapie</button>
            <button mat-menu-item [routerLink]="['/look']">Beauté du regard</button>
            <button mat-menu-item [routerLink]="['/men']">Hommes</button>
            <button mat-menu-item [routerLink]="['/events']">Evènementiel</button>
          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>menu</mat-icon>
          </button>
        </div>

        <span class="spacer"></span>

        <img src="../assets/images/logo/logo-white.png">

        <span class="spacer"></span>

        <div class="social-medias">
          <a href="https://www.facebook.com/boutiqueannabelleparis/">
            <i class="fa fa-facebook-square fa-2x"></i>
          </a>
        </div>

      </mat-toolbar-row>
    </mat-toolbar>

    <div class="content" role="main">
      <router-outlet></router-outlet>
    </div>

    <footer>
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 footer-adress">
            <a href="https://goo.gl/maps/nCM5XNoNNfxaxZtM7">
              Anna'belle Institut - 10 rue Vauban, 68000 COLMAR
            </a>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 footer-copyright">Copyright © 2020, tous droits réservés</div>
        </div>
      </div>
    </footer>
  </div>

</body>