.page {
    min-height:100vh;
	display:flex;
	flex-direction:column;
}

.content {
    flex-grow: 1;
}

.mat-toolbar {
    background-color: #000000;
    color: #ffffff;
    display: flex;
}

.mat-toolbar-row {
    height: 7em;
}

#annabelle-logo img {
    width: 100%;
    padding: 10px;
}

.spacer {
    flex: 1 1 auto;
}

.social-medias {
    i {
        color: #ffffff;
        margin: 5px;
    }
    i:hover {
        color: #e10943;
    }
}

footer {
    background-color: #e10943;
    color: #ffffff;

    i {
        margin-right: 5px;
    }

    img {
        width: 40px;
    }

    .footer-copyright {
        background-color: #d1063d;
        align-content: center;
        font-size: 0.7rem;
    }
}
