<section class="prestations">

    <h1>MAQUILLAGE PERMANENT</h1>

    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">CRÉATION LIGNE DE SOURCILS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    3h - 290€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Dermopigmentation - Retouche 1 mois comprise</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">RETOUCHE ANNUELLE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 180€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">MAQUILLAGE PERMANENT SOURCILS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    3h - 200€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Opération promotionnelle</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

    </div>

</section>