<section class="prestations">

    <h1>MAQUILLAGE PERMANENT</h1>

    <div class="prestation-actions">
        <button mat-button (click)="bookService.openPlanity()" class="book-online">Réserver en ligne</button>

        <button mat-button class="gift-card">
            <a href="https://secure.payplug.com/p/jvfBAhn" target="_blank">Offrir un bon cadeau</a>
        </button>
    </div>

    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">CRÉATION LIGNE DE SOURCILS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    3h - 290€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Dermopigmentation, poudré ou poil à poil - Retouche 1 mois comprise</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">LÈVRES CANDY LIPS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    2h - 310€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Retouche 1 mois comprise</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">LÈVRES MAGIC LIPS</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    2h30 - 350€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Retouche 1 mois comprise</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">EYE LINER PAUPIÈRE SUPÉRIEURE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    2h - 290€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Retouche 1 mois comprise</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">EYE LINER PAUPIÈRE SUPÉRIEURE ET INFÉRIEURE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    2h30 - 390€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>Retouche 1 mois comprise</mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-title>
                <div class="name">RETOUCHE ANNUELLE</div>
                <div class="infos">
                    <i class="far fa-clock"></i>
                    30 min - 180€
                </div>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content></mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

    </div>

</section>