<section class="prestations">
    <h1>MAQUILLAGE PERMANENT</h1>
    <div class="prestations">

        <mat-card class="prestation">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">Création ligne de sourcils</div>
                </mat-card-title>
                <mat-card-subtitle>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="far fa-clock"></i> 3h - 290€
                    </h6>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                Dermopigmentation - Retouche 1 mois comprise
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">Retouche annuelle</div>
                </mat-card-title>
                <mat-card-subtitle>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="far fa-clock"></i> 30 min - 180€
                    </h6>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

        <mat-card class="prestation">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">Maquillage permanent sourcils</div>
                </mat-card-title>
                <mat-card-subtitle>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="far fa-clock"></i> 3h - 200€
                    </h6>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                Opération promotionnelle
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>

    </div>

</section>