<h1>MENTIONS LEGALES :</h1>

<p style="text-align:justify"><strong> </strong><br />
Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : <a href="http://annabelle-institut.fr" target="_blank">annabelle-institut.fr</a> les informations suivantes :</p>

<p style="text-align:justify"><strong>ÉDITEUR</strong></p>

<p style="text-align:justify">Le site <a href="http://annabelle-institut.fr" style="color: rgb(7, 130, 193); font-family: sans-serif, Arial, Verdana, " target="_blank">annabelle-institut.fr</a> est la propriété exclusive de <strong>SASU </strong><strong>N BERDOLT</strong>, qui l'édite.</p>

<p style="text-align:justify"><strong>N BERDOLT</strong><strong> </strong><br />
<strong>SASU </strong>au capital de<strong> </strong><strong>3000 </strong>€
<br />Tél  : <strong>0982413466</strong></p>

<p style="text-align:justify"><strong>10 RUE VAUBAN </strong><strong>68000 COLMAR</strong><br />
Immatriculée au Registre du Commerce et des Sociétés de  <strong>839400504 </strong>sous le numéro<strong> </strong><strong>83940050400016</strong><strong> </strong></p>

<p style="text-align:justify">Numéro TVA intracommunautaire : <strong>FR44839400504</strong><br />
Adresse de courrier électronique : <strong>colmar@anna-belle.paris</strong> <br />
 <br />
Directeur de la  publication : <strong>Nathalie BERDOLT</strong><br />
Contactez le responsable de la publication : <strong>colmar@anna-belle.paris</strong></p>

<p style="text-align:justify"> </p>

<p style="text-align:justify"><strong>HÉBERGEMENT</strong></p>

<p style="text-align:justify">Le site est hébergé par <strong>Amazon Simple Storage Service (S3) Paris</strong><br />
<u><strong>CREDITS :</strong></u> les mentions légales ont étés générées par <strong><a href="https://www.generer-mentions-legales.com">mentions légales</a></strong><br />