@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
    margin: 3rem;
}

h1 {
    color: #e10943;
}

.prestations {
    justify-content: center;
} 

mat-card.prestation {
    margin-bottom: 0.5rem;
    max-width: 50%;

    mat-card-title {
        font-size: 1em;
        display: flex;
        justify-content: space-between;

        .name {
            color:#e10943;
        }
    }

    button {
        background-color: #e10943;
        color: #ffffff;
    }
}

div.note {
    font-size: 0.7em;
    font-style: italic;
}

.prestations, .prestation {
    display: flex; //tous les objets s'étirent pour avoir la taille du plus grand des objets
    flex-wrap: wrap;
    justify-content: center;
}

section.prestations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prestation {
    flex: 0 1 40%;
    margin: 1rem;
    cursor: pointer;

    .name {
    color: #e10943;
    }
}