<section class="team text-center my-5">
    <h1>LA TEAM ANNA'BELLE</h1>
    <div class="members">
        <p class="grey-text w-responsive mx-auto mb-5">L'équipe de l'institut Anna'belle est heureuse de vous accueillir
            le lundi, de 14h à 18h30, et du mardi au
            samedi, de 10h à 18h au 10 rue Vauban à Colmar.</p>
        <div class="row justify-content-md-center">
            <div class=" col-lg-3 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="./../../assets/images/team/celine.jpg" class="rounded-circle z-depth-1"
                        alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Céline</h5>
                <p class="text-uppercase pink-text"><strong>Prothésiste ongulaire</strong></p>
                <p class="grey-text">Certifiée depuis plus de 10 ans, également esthéticienne en formation</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="./../../assets/images/team/nathalie.jpg" class="rounded-circle z-depth-1"
                        alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Nathalie</h5>
                <p class="text-uppercase pink-text"><strong>Gérante</strong></p>
                <p class="grey-text"></p>
            </div>
            <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="./../../assets/images/team/cindy.jpg" class="rounded-circle z-depth-1"
                        alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Cindy</h5>
                <p class="text-uppercase pink-text"><strong>Esthéticienne diplômée</strong></p>
                <p class="grey-text">Spécialiste certifiée en extension de cils et prothésiste ongulaire</p>
            </div>
        </div>
    </div>
</section>

<mat-divider></mat-divider>

<section class="prestation-families">
    <h1>NOS PRESTATIONS</h1>
    <div class="families">
        <mat-card class="family" [routerLink]="['/hands-foots-care']">
            <img mat-card-image src="../../assets/images/prestations/mains.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">SOIN MAINS & PIEDS</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Soins, pose, entretien, dépose, nail art...
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
        <mat-card class="family" [routerLink]="['/look']">
            <img mat-card-image src="../../assets/images/prestations/regard.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">BEAUTE DU REGARD</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Extension & rehaussement de cils, teintures sourcils...
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="family" [routerLink]="['/face-care']">
            <img mat-card-image src="../../assets/images/prestations/visage.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">SOIN VISAGE</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Soins anti-âge, hydratant, modelage...
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="family" [routerLink]="['/body-care']">
            <img mat-card-image src="../../assets/images/prestations/corps.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">SOIN CORPS</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Soins, modelage, gommage...
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="family" [routerLink]="['/slimming']">
            <img mat-card-image src="../../assets/images/prestations/amincissement.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">AMINCISSEMENT</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Soins amincissant, lissant...
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="family" [routerLink]="['/waxing']">
            <img mat-card-image src="../../assets/images/prestations/epilation.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">EPILATION</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Aisselles, demi-jambes, sourcils, maillot...
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
        <mat-card class="family" [routerLink]="['/mesotherapy']">
            <img mat-card-image src="../../assets/images/prestations/mesotherapie.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">MESOTHERAPIE</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet, consectetur adipiscing...
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>

        <mat-card class="family" [routerLink]="['/men']">
            <img mat-card-image src="../../assets/images/prestations/homme.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">HOMMES</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Soins énergisant & nettoyant, manucure...
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
        <mat-card class="family" [routerLink]="['/events']">
            <img mat-card-image src="../../assets/images/prestations/maquillage.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">EVENEMENTIEL</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Maquillages pour évènements, coaching...
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
    </div>
    <button mat-button class="kalendes-button" onclick="kalendes.show()">Réserver en ligne</button>

</section>

<mat-divider></mat-divider>

<section class="customer-opinion">
    <h1>VOS AVIS</h1>
    <div class="container my-5 px-5 pt-5 pb-3 z-depth-1">
        <div class="text-center dark-grey-text">
            <div class="row">
                <div class="col-md-4 mb-4 mt-3">
                    <p class="lead">"Super institut, je suis cliente fidèle et je suis toujours satisfaite ! La gérante
                        et les employées  sont très agréables et de très bon conseil !"</p>
                    <p class="text-muted">- Jennifer G.</p>
                </div>
                <div class="col-md-4 mb-4 mt-3">
                    <p class="lead">"Que ce soit pour les soins du corps ou les ongles je vais chez Anna'belle. L'équipe est très pro 
                        et super sympa et présente régulièrement des nouveautés en matière de techniques de soins.
                        J'adore y aller. La déco, le thé ou le café de qualité sont des petits plus qui font aussi peser la balance !"</p>
                    <p class="text-muted">- Tania M.</p>
                </div>
                <div class="col-md-4 mb-4 mt-3">
                    <p class="lead">"Super institut, je recommande vivement. Esthéticiennes très professionnelles et Nathalie, la gérante est très aimable. 
                        Anna'belle est un institut dans lequel on se sent bien !"</p>
                    <p class="text-muted">- Samantha G.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<mat-divider></mat-divider>

<section class="customer-note">
    <h1>MERCI !</h1>
    <div class="circle">
        <div class="note-fb">4,9/5</div>
    </div>
    <p class="grey-text w-responsive mx-auto mb-5 text-center">C'est la note moyenne donnée par nos clients !</p>
</section>

<mat-divider></mat-divider>

<section class="partners">
    <h1>NOS FOURNISSEURS</h1>
    <ul>
        <li>
            <a href="https://www.peggysage.com/fr-FR/">
                <img src="../../assets/images/partners/peggy-sage.png">
            </a>
        </li>
        <li>
            <a href="https://www.klapp-cosmetics.com/fr/">
                <img src="../../assets/images/partners/klapp.png">
            </a>
        </li>
        <li>
            <a href="https://www.nature-effiscience.com/fr/">
                <img src="../../assets/images/partners/nature-effiscience.png">
            </a>
        </li>
        <li>
            <a href="https://akyado-care.ch/">
                <img src="../../assets/images/partners/akyado.png">
            </a>
        </li>
        <li>
            <a href="https://mnails.fr/">
                <img src="../../assets/images/partners/mnails.png">
            </a>
        </li>
        <li>
            <a href="https://www.couleur-caramel.com/boutique/">
                <img src="../../assets/images/partners/couleur-caramel.png">
            </a>
        </li>
    </ul>
</section>