<section class="presentation">
    <div class="presentation-block">
        <div class="presentation-text">
            L'équipe de l'institut Anna'belle est heureuse de vous accueillir le lundi, de 14h à 18h30, et du mardi au
            samedi, de 10h à 18h au 10 rue Vauban à Colmar.
        </div>
        <img src="../../assets/images/home/presentation.jpg">
    </div>
</section>

<mat-divider></mat-divider>

<section class="prestation-families">
    <h1>NOS PRESTATIONS</h1>
    <div class="families">
        <mat-card class="family" [routerLink]="['/body-care']">
            <img mat-card-image src="../../assets/images/prestations/corps.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">SOIN CORPS</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Soins, modelage, gommage...
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="family" [routerLink]="['/face-care']">
            <img mat-card-image src="../../assets/images/prestations/visage.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">SOIN VISAGE</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Soins anti-âge, hydratant, modelage...
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="family" [routerLink]="['/hands-foots-care']">
            <img mat-card-image src="../../assets/images/prestations/mains.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">SOIN MAINS & PIEDS</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Soins, pose, entretien, dépose, nail art...
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
        <mat-card class="family" [routerLink]="['/waxing']">
            <img mat-card-image src="../../assets/images/prestations/epilation.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">EPILATION</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Aisselles, demi-jambes, sourcils, maillot...
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
        <mat-card class="family" [routerLink]="['/mesotherapy']">
            <img mat-card-image src="../../assets/images/prestations/mesotherapie.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">MESOTHERAPIE</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet, consectetur adipiscing...
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="family" [routerLink]="['/look']">
            <img mat-card-image src="../../assets/images/prestations/regard.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">BEAUTE DU REGARD</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Extension & rehaussement de cils, teintures sourcils...
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="family" [routerLink]="['/men']">
            <img mat-card-image src="../../assets/images/prestations/homme.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">HOMMES</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Soins énergisant & nettoyant, manucure...
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
        <mat-card class="family" [routerLink]="['/events']">
            <img mat-card-image src="../../assets/images/prestations/maquillage.jpg">
            <mat-card-header>
                <mat-card-title>
                    <div class="name">EVENEMENTIEL</div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Maquillages pour évènements, coaching...
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
    </div>
    <button mat-button class="kalendes-button" onclick="kalendes.show()">Réserver en ligne</button>

</section>

<mat-divider></mat-divider>

<section class="customer-opinion">
    <h1>VOS AVIS</h1>
    <div class="opinions">
        <mat-card class="opinion">
            <mat-card-content>
                "Super institut, je suis cliente fidèle et je suis toujours satisfaite ! La gérante et les
                esthéticiennes sont très agréables et de très bon conseil !"
            </mat-card-content>
            <mat-card-header>
                <mat-card-title>
                    <div class="client">Jennifer G.</div>
                </mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card class="opinion">
            <mat-card-content>
                ""
            </mat-card-content>
            <mat-card-header>
                <mat-card-title>
                    <div class="client">Tania M.</div>
                </mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>
</section>

<mat-divider></mat-divider>

<section class="customer-note">
    <h1>MERCI !</h1>
    <div class="circle">
        <div class="note-fb">4,9/5</div>
    </div>
    <p>C'est la note moyenne donnée par nos clients !</p>
</section>

<mat-divider></mat-divider>

<section class="partners">
    <h1>NOS FOURNISSEURS</h1>
    <ul>
        <li>
            <a href="https://www.peggysage.com/fr-FR/">
                <img src="../../assets/images/partners/peggy-sage.png">
            </a>
        </li>
        <li>
            <a href="https://www.klapp-cosmetics.com/fr/">
                <img src="../../assets/images/partners/klapp.png">
            </a>
        </li>
        <li>
            <a href="https://www.nature-effiscience.com/fr/">
                <img src="../../assets/images/partners/nature-effiscience.png">
            </a>
        </li>
        <li>
            <a href="https://akyado-care.ch/">
                <img src="../../assets/images/partners/akyado.png">
            </a>
        </li>
        <li>
            <a href="https://mnails.fr/">
                <img src="../../assets/images/partners/mnails.png">
            </a>
        </li>
        <li>
            <a href="https://www.couleur-caramel.com/boutique/">
                <img src="../../assets/images/partners/couleur-caramel.png">
            </a>
        </li>
    </ul>
</section>