<section class="partners">
    <h1>FOURNISSEURS</h1>
    <ul>
        <li> 
            <a href="https://www.peggysage.com/fr-FR/">
                <img src="../../assets/images/partners/peggy-sage.png">
            </a>
        </li>
        <li>
            <a href="https://www.klapp-cosmetics.com/fr/">
                <img src="../../assets/images/partners/klapp.png">
            </a>
        </li>
        <li>
            <a href="https://www.nature-effiscience.com/fr/">
                <img src="../../assets/images/partners/nature-effiscience.png">
            </a>
        </li>
        <li>
            <a href="https://akyado-care.ch/">
                <img src="../../assets/images/partners/akyado.png">
            </a>
        </li>
        <li>
            <a href="https://mnails.fr/">
                <img src="../../assets/images/partners/mnails.png">
            </a>
        </li>
    </ul>
</section>